<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


<!---2: Skapa funktion för att kunna registrera sig--->
<form onsubmit="register()">
    <input type ="text" placeholder="Ange ett användarnamn" id="username"><br>
    <input type ="text" placeholder="Ange ett lösenord" id="password" ><br>
    <p>Ange om du är arbetare eller arbetsgivare:</p>
    <input type ="radio" id="worker" name="worker">
    <label for ="worker">Arbetare</label><br>
    <input type ="radio" id="workgiver" name ="workgiver">
    <label for ="worker">Arbetsgivare</label><br>
    <input type ="submit" value="Skicka">

</form>

</body>

<script>

    //2:Skapa Funktion för att kunna registrera sig
    function register() {

        let username = document.getElementById('username').value
        let password = document.getElementById('password').value

        const data = {username, password}

        const options ={
            method: 'POST',
            headers: {'Content-Type': 'application/json;charset=utf8'},
            body: JSON.stringify(data)
        }

        if(document.getElementById('worker').checked){
            fetch('/createworker', options)
        }else if(document.getElementById('workgiver').checked){
            fetch('/createworkgiver', options)
        }

    }
</script>
<style></style>
</html>