<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<h1>PROFIL SIDA</h1>

<p> Ändra dina uppgifter här: </p>

<form action ="#" th:action="@{/saveUser}" th:object="${user}" method="post">
    <input type="hidden" name = "id" th:value="${user.id}">
    <span>Förnamn</span>
    <input type ="text" th:field="*{firstname}" th:value="${user.firstname}"><br>
    <span>Efternamn</span>
    <input type ="text" th:field="*{lastname}" th:value="${user.lastname}"><br>
    <span>Adress</span>
    <input type ="text" th:field="*{address}" th:value="${user.address}"><br>
    <span>Telefon</span>
    <input type ="text" th:field="*{phone}" th:value="${user.phone}"><br>
    <span>Email</span>
    <input type ="text" th:field="*{email}" th:value="${user.email}"><br>
    <span>Beskrivning</span>
    <input type ="textarea" th:field="*{description}" th:value="${user.description}"><br>
    <span>Skönhet</span>
    <input type ="checkbox" th:field="*{beauty}" th:checked="${user.beauty}"><br>
    <span>Städning</span>
    <input type ="checkbox" th:field="*{cleaning}" th:checked="${user.cleaning}"><br>
    <span>VVS</span>
    <input type ="checkbox" th:field="*{vvs}" th:checked="${user.vvs}"><br>
    <span>Hälsa</span>
    <input type ="checkbox" th:field="*{health}" th:checked="${user.health}"><br>
    <span>Målning</span>
    <input type ="checkbox" th:field="*{painting}" th:checked="${user.painting}"><br>

    <button type ="submit">Spara ändringar</button>

</form>

</body>

</html>