<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<h1>REGISTRERA DIG</h1>

<form action ="#" th:action ="@{/saveUser}" th:object="${user}" method ="POST">
    <p>Ange om du är arbetare eller arbetsgivare:</p>
    <input type="checkbox" th:checked="*{worker}">
    <span>Arbetare</span>
    <input type="checkbox" th:checked="*{workgiver}">
    <span>Arbetsgivare</span>


    <p>Ange användaranamn och lösenord:</p>
    <input type="text" th:field="*{username}" placeholder="Användarnamn">
    <input type="text" th:field="*{password}" placeholder="Lösenord">

    <p>Ange dina uppgifter:</p>
    <input type="text" th:field="*{firstname}" placeholder="Förnamn">
    <input type="text" th:field="*{lastname}" placeholder="Efternamn">
    <input type="text" th:field="*{address}" placeholder="Adress">
    <input type="text" th:field="*{phone}" placeholder="Telefon">
    <input type="text" th:field="*{email}" placeholder="Email">
    <input type="textarea" th:field="*{description}" placeholder="Beskrivning">

    <p>Ange vilka kategorier du kan jobba med:</p>
    <input type="checkbox" th:field="*{beauty}">
    <span>Skönhet</span>
    <input type="checkbox" th:field="*{cleaning}">
    <span>Städning</span>
    <input type="checkbox" th:field="*{vvs}">
    <span>VVS</span>
    <input type="checkbox" th:field="*{health}">
    <span>Hälsa</span>
    <input type="checkbox" th:field="*{painting}">
    <span>Målning</span>

        <button id="login-button" type="submit">Registrera dig!</button>

</form>

</body>

</html>